#app {
  position: relative;
}

.page {
  padding: 20rpx;
  border: 1px solid #f00;
}

.box {
  margin: 20rpx 0;
  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
}

.block {
  height: 300rpx;
  font-size: 128rpx;
  color: #fff;
  text-align: center;
  line-height: 300rpx;
  background-color: rgba(0, 0, 0, .5);
}

.top {
  position: absolute;
  top: -100rpx;
  left: 0;
  right: 0;
  z-index: 9;
  height: 100rpx;
  font-size: 36rpx;
  text-align: center;
  line-height: 100rpx;
}

.bottom {
  position: absolute;
  bottom: -100rpx;
  left: 0;
  right: 0;
  z-index: 9;
  height: 100rpx;
  font-size: 36rpx;
  text-align: center;
  line-height: 100rpx;
}
