.button {
  display: block;
  margin: 30rpx auto;
  width: 90%;
  padding: 20rpx 20rpx;
  font-size: 28rpx;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 8rpx;
  background-color: #6c72c9;
}
