body {
  background-color: #ccc;
}

.page {
  padding: 20rpx;
  border-bottom: 2px solid #f00;
  background-color: #666;
}

.box {
  margin: 20rpx 0;
  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
}

.title {
  text-align: center;
  line-height: 2;
}

.subTitle {
  text-align: center;
}

.img {
  margin-top: 10rpx;
}

.block {
  margin-top: 10rpx;
  height: 300rpx;
  font-size: 128rpx;
  color: #fff;
  text-align: center;
  line-height: 300rpx;
  background-color: rgba(0, 0, 0, .5);
}
