.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10001;
  width: 750rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, .4);
}

.body {
  width: 72%;
  border-radius: 8rpx;
  background-color: #fff;
  animation: __modal_bounce_enter__ .75s ease;
}

.title {
  font-size: 36rpx;
  color: #333;
  font-weight: 500;
  text-align: center;
  margin-top: 20rpx;
  margin-bottom: -10px;
}

.content {
  padding: 40rpx 20rpx;
  font-size: 28rpx;
  color: #666;
  line-height: 1.5;
  text-align: center;
  word-wrap: break-word;
}

.btn-wrap {
  display: flex;
  border-top: 1rpx solid #e5e5e5;
}

.btn {
  border: none;
  outline: none;
  border-radius: 0;
  flex-grow: 1;
  font-size: 28rpx;
  text-align: center;
  line-height: 80rpx;
  background-color: transparent;

  &.confirm {
    color: #333;
  }

  &.cancel {
    color: #999;
    border-right: 1px solid #e5e5e5;
  }
}

@keyframes __modal_bounce_enter__ {
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(1, 1, 1);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
