.container {
  position: relative;
  min-height: 1243rpx;
  overflow: auto;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.name {
  position: absolute;
  top: 298rpx;
  left: 112rpx;
  width: 60rpx;
  font-size: 64rpx;
  font-weight: 700;
  color: #101010;
  line-height: 1;
  word-break: break-word;
}

.feat {
  position: absolute;
  top: 310rpx;
  left: 256rpx;
  width: 284rpx;
  font-size: 38rpx;
  font-weight: 500;
  color: #272727;
  line-height: 69rpx;
  text-align: center;
}

.long {
  width: 24rpx;
  font-size: 24rpx;
  position: absolute;
  right: 18rpx;
  top: 455rpx;
}

.long span {
  display: block;
  text-align: center;
  width: 24rpx;
  background: #000;
  color: #fff;
  border-radius: 50%;
  height: 24rpx;
  line-height: 24rpx;
  font-size: 18rpx;
  margin-bottom: 2rpx;
}

.avatar {
  position: absolute;
  top: 67rpx;
  left: 478rpx;
  width: 251rpx;
  height: 215rpx;
}

.wrap {
  position: absolute;
  top: 402rpx;
  left: 0;
  right: 0;
}

.content {
  margin: 0 65rpx 50rpx 245rpx;
  border: 1rpx solid #000;
  background-color: #fff;
  padding: 30rpx 20rpx;
  font-size: 30rpx;
  color: #272727;
  line-height: 1.5;
  word-break: break-word;
}

.title {
  margin-bottom: 20rpx;
  padding-bottom: 20rpx;
  border-bottom: 1rpx dashed #000;
}

.desc {
  font-weight: 500;
  margin-bottom: 20rpx;
}

.bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50rpx 64rpx;
  border-top: 1rpx dashed #292f2e;
}

.word {
  float: left;
  max-width: 450rpx;
  padding: 15rpx 0;
}

.sao {
  font-size: 38rpx;
  color: #000;
  line-height: 50rpx;
}

.sao span {
  font-size: 28rpx;
  position: relative;
  top: -5rpx;
}

.text {
  font-size: 28rpx;
  color: #000;
  line-height: 40rpx;
}

.qrcode {
  float: right;
  width: 120rpx;
  height: 120rpx;
}
